* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}
:root {
    margin: 0;
    padding: 0;
    /* background-color: #f2f2f2;
    font-family: Arial; */
    box-sizing: border-box;
}
body {
    /* background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%); */
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border: 1px solid rgb(24, 22, 22);
    background: rgb(0, 0, 0, 0.5);
    margin: 10%;
}
.cs-imagen-persona{
    width: 25%;
    background-color: brown;
}

.cs-imagen{
    justify-content: center;
    text-align: center;
    vertical-align:middle;
    /* align-items: center; */
    /* align-self: center; */
    /* align-content: center; */
    /* vertical-align: middle; */
    /* place-content: center; */
    /* place-items: center; */
    /* place-self: center; */
    margin: 20px;
    background: bisque;
}

.cs-seccionPpal{
    background-color: rebeccapurple;
    /* margin: 10px; */
}
/* .contenedor-ppal{
    background: red;
    width: 100%;
    margin: 10px;
    
    grid-template-columns: repeat(auto-fit, minmax(max(300px), 1fr));
} */
.cs-contenedor2{
    background: paleturquoise;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(250px, 30%), 1fr));
    /* margin: 5px 5px 5px 5px; */
    /* padding: 25px; */
    margin: 10px;
}
/* .cs-botones{
    display: flex;
    flex-direction: column;
    gap: 1em;
} */

.cs-botones{
    /* width:10; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 1em; */
    background:red;
    /* width: 100%; */
}
.cs-boton{
    /* width: 10em;
    height: 3em; */
    width: 25%;
    height: 3em;
    
}
.cs-tituloPpal{
    /* text-align: center; */
    height: 3em;
    font-size: 2em;
    margin: 20px;
    background-color: cadetblue;
}

.cs-proceso{
    display: flex;
    flex-direction: column;
    gap: 1em;
    place-items: center;
    margin: 20px 20px;
    background-color: darkgoldenrod;
    width: 100%;
    height: 500px;
}
.cs-numero{
    width: 22em;
    height: 3em;
    /* box-sizing:border-box; */
    /* display: block; */
    width: 50%;
    
}