* {
    /* box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white; */
}

html { 
    /* background-color: #e0d7d7;  */
} 
body {
    /* min-height: 75vh;
    max-width: 75vw; */
    /* background-color: papayawhip; */
    /* margin: 100px; */
    /* border: 5px solid; */
    margin: 5%;
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
}

body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -20;
}

main{
   /* margin: 20px;
   border: 5px solid; */
}
.cs-seccionPpal{
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-size: 100% 100%;
    /* background-image: url("img/Ruido.png"); */
    /* height: 100vh; */
}
.cs-tituloPpal{
    margin: 20px;
    color: white;
    text-align: center;
    /* background-color: red; */
     /* border: 5px solid; */
}

.cs-contenedor2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(250px, 30%), 1fr));
    /* margin: 20px; */
    /* border: 5px solid; */
}

.cs-proceso{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
    z-index: 1;
     /* border: 5px solid; */
}

.cs-imagen{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid; */
    /* place-content: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-items: center; */
    /* width: 100%;
    height: 500px; */
    /* width: 100%; */
    /* background-color: aquamarine; */
}

.cs-numero{
    width: 70%;
    height: 3em;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}
.cs-botones{
    display: flex;
    gap: 1em;
    justify-content: center;
    width: 100%;
    /* width: 50%; */
    /* background-color: rebeccapurple; */    
}
.cs-boton{
    width: 34%;
    height: 3em;
    border-radius: 16px;
    background: #1875E8;
    font-size: 24px;
    font-weight: 700;
    border: none;
    /* padding: 16px 24px; */
    /* width: 100%; */    
    /* margin-top: 2rem; */
}
.cs-boton:disabled {
    background: #898989;
}

.cs-imagen-persona{
    width: 20em;
    /* height: 100px; */
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: clamp(1.5rem, 1vw + 1.7rem, 5rem);
    padding-bottom: 3rem;    
}

p,
button {
    font-family: 'Inter', sans-serif;
}
.cs-textoNumero {
    font-size: clamp(1.3rem, 1vw + 1.5rem, 3rem);
    font-weight: 400;
    color: white;
    text-align: center;
}