body {
  background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
  /* height: 100vh; */
}
body::before {
  background-image: url("img/code.png");
  background-repeat: no-repeat;
  background-position: right;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -20;
}

.cs-seccionPpal{
  border-radius: 1em;
  border: 1px solid #1875E8;
  background-image: url("img/Ruido.png");
  margin: 5% 5% 1%;
}
.cs-tituloPpal{
  margin: 20px;
  color: white;
  text-align: center;
  font-family: 'Chakra Petch', sans-serif;
  font-size: clamp(1.5rem, 1vw + 1.7rem, 5rem);
}
.cs-contenedor2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(250px, 30%), 1fr));
  gap: 1em;
}
.cs-proceso{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.cs-textoNumero{
  font-size: clamp(1rem, 1vw + 1rem, 3rem);
  color: wheat;
  padding: .5em;
}
/* Seccion elegir numero de intentos para jugar  */
.cs-seleccion {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
  margin-bottom: .5em;
}
.cs-seleccion::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #898989;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.cs-seleccion:hover::after {
  color: white;
}
.cs-nroIntentos {
  border:0!important;
  background: #1875E8;
  flex: 1;
  color:#fff;
  cursor:pointer;
  font-size: 1em;
}
.cs-nroIntentos::-ms-expand {
  display: none;
}
.cs-nroIntentos[disabled]{
  color: rebeccapurple;
}
.cs-nroIntentos:disabled{ /* funciona cuando desde Javascript se le asigna el atributo disables al elementos*/
  /* background: #898989; */
  /* background-color: #898989; */
}
option:disabled{
  color:black;
}
/* FIN */
/*  */
/* INICIO Eleccion de numero a Jugar */
.cs-seccion-nroelegido{
  perspective: 1000px;
  width: 75%;
  border-radius: .5em;
  margin-bottom: 1em;
}
.cs-caja-botones{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(25px, 33%), 1fr));
  place-items: center;
  justify-content: space-between;
  border-radius: .5em;
  box-sizing: border-box;
  padding: 15px;
  background-color: #1875E8;
}
.cs-caja-texto{
  text-align: center;
  grid-column: 1 / -1;
  text-align: center;
}
.btn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgb(141, 63, 172);
  color: black;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn:disabled{
  background: #898989;    
}
.btn span {
  font-size: 55px;
}
.btn:active::before {
  position: absolute;
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  animation: ripple 0.25s ease-out;
}
@keyframes ripple {
  0% {
    width: 80px;
    height: 80px;
    opacity: 0.8;
  }
  100% {
    width: 30px;
    height: 30px;
    opacity: 0.3;
  }
}
.value {
  /* flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}
.cs-numero {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 60px;
  font-weight: 600;
}
.cs-texto {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
/*  */
/* Botonera para intentar numero secreto o reiniciar el juego */
.cs-botones{
  display: flex;
  gap: 1em;
  justify-content: center;
  width: 100%;
}
.cs-boton{
  width: 34%;
  height: 3em;
  border-radius: .5em;
  background: #1875E8;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
.cs-boton:disabled {
  background: #898989;
}
.cs-boton:hover {      
  box-shadow: 0 0 20px orange;
  border-color: orange;
  cursor: pointer; 
}
.cs-boton[disabled] {
  box-shadow: none;
}
/*  */
/* Seccion Imagen persona principal */
.cs-imagen{
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cs-imagen-persona{
  width: 20em;
}
/*  */
/* Seccion FOOTER */
footer{
  border-radius: 24px;
  border: 1px solid #1875E8;
  margin: 0 5%;
}
.footer-imagenes{
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.img-footer-alura{
  border-radius: .5em;
}
.seccion-footer img{width: 125px;}
.footer-redes{
  margin: 1em;
  display: flex;
  justify-content: space-between;
  align-items:end;
}
.img-footer-alura{align-self: flex-end;}
.footer-derechos{
   display: flex;
   justify-content: end;
}
.copyright{
  color:#FFFFFF;
  text-align: center;
  font-size: clamp(.5rem, 1vw + .5rem, 2rem);;
}